<% if !@categories.blank? %>
  <% for item in @categories  %>
    <li><%= item.name %></li>
  <% end %>
  <a href="/category/new">Creer category</a>
  <a href="/admin/posts">Posts</a>
<% else %>
<p> Rien à afficher </p>
<% end %>
