<form method="POST" action="/add">

    <div>
    <LABEL>Nom</LABEL>
    <input type="text" name="name" />
    </div>
    <div>
    <LABEL>description</LABEL>
    <textarea name="description"></textarea>
    </div>

    <button type="submit">Save</button>
</form>